html, body {
    height: 100%;
}

.form-floating > #email::placeholder {
    color: revert;
}

.form-floating > #email:not(:focus)::placeholder {
    color: transparent;
}

@media (min-width: 900px) {
    .row {
        margin: 0px 48px;
    }
}